@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway:300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
  font-weight: lighter;
  font-size: calc(20px + 3vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
  font-weight: lighter;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-family: 'Raleway', ;
  font-weight: bold;
}

.App-proceed-button {
  margin:25px;
  width:200px;
  height:50px;
  border-radius:25px;
  border: 0px solid;
  font-family: 'Raleway';
  font-weight: bold;
  text-transform:uppercase;
  transition: border-radius 0.5s, width 0.5s;
  color: black;
  background-color:#ff794d;
}

button:hover{
  border-radius:15px;
  width:220px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
