@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

header {
  font-family: 'Raleway';
  font-weight: lighter;
}

body {
  margin: 0;
  font-family: 'Lato', ;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lato';
  font-weight: bold;
}
